*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-boxï¼›
}
body{
    margin:0;
}
#page1 {
    min-height: 990px;
    background-image: url(img/Background.png);
    color:#FFFFFF;
    text-align: center;
}
.wrapper{
    width:970px;
    margin: 0 auto;
    padding-top:10%;
}

.intro{
    min-height: 990px;
    padding-top: 10%;
    font-family: 'Courier New', Courier, monospace;
}
.intro-title{
    font-weight: 700;
    font-size: 62px;
}
.intro-content{
    padding: 80px 10%;
    font-size: 20px;
}
.register{
    padding: 40px;
    position: relative;
    min-height: 250px;
    border:1px solid #878076;
}
.register p:nth-of-type(1){
    font-weight: 700;
}
.register p:nth-of-type(2){
    color: #878076;
}
.register input{
    border:1px solid #878076;
    background-color: transparent;
    padding: 10px 30px;
    font-size: 12px;
    color: white;
}
.register button{
    padding: 9px 20px;
    font-size: 12px;
    background-color: #FFF;
}
#page2{
    padding-top:100px;
    min-height: 700px;
}
.title{
    margin:0 auto;
    width: 70%;
    text-align: center;
}
.title p:nth-of-type(1){
    font-size: 14px;
}
.title p:nth-of-type(2){
    font-size: 42px;
}
.iconlist{
    min-height: 100px;
    width:50%;
    float: left;
}
.iconlist img{
    width:15%;
    float:left;
    padding:20px 20px 35px 20px;
}

.iconlist p:nth-of-type(1) {
    font-weight: 700;
}
#page3{
    min-height: 790px;
    background-image: url(img/Background2.png);
    /* color: #FFF; */
}
#page3 p{
    width: 30%;
}
#page3 p:nth-of-type(1){
    color: #FFF;
    font-size: 42px;
}
#page3 p:nth-of-type(2){
    color: #878076;
    font-size: 18px;
}
#page3 input{
    border:1px solid #878076;
    background-color: transparent;
    padding: 20px 30px;
    font-size: 12px;
}
#page3 input:nth-of-type(1){
    background-color:#FFF;
}
#page3 input:nth-of-type(2){
    color: #FFF;
}

#products{
    min-height:600px;
    border-bottom: 1px solid #F0F0F0;
    text-align: center;
}
#products p{
    font-size: 42px;
}
.product-detail{
    width:33.33%;
    float: left;
    padding: 5%;
}
#description{
    min-height: 1000px;
    border-bottom: 1px solid #F0F0F0;
}
#description .line{
    display:flex;
    display:-webkit-flex;
}
.photo{
    padding: 20px;
}
.photo-detail{
    flex: 1;
    padding: 20px;
}
#crew{
    min-height: 1080px;
    border-bottom: 1px solid #F0F0F0;
}
.hover-bg{
    width: 50%;
    float: left;
}

.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 2% 0;
	min-height: 340px;
	width: 470px;
	opacity: 0;
    transition: all 0.5s;
}
/* .hover-bg .hover-text>p{
	opacity: 0;
	-webkit-transform: translateY(100%);
            transform: translateY(100%);
            transition: all 0.3s;
}
.hover-bg:hover .hover-text>p{
	opacity: 1;
    -webkit-backface-visibility:hidden;
    -webkit-transform: translateY(0);
            transform: translateY(0);
} */

.hover-bg:hover .hover-text{
	opacity: 1;
}
#contact{
    min-height: 700px;
}
.cd-md-5{
    float: left;
    width:50%;
}
.cd-md-1{
    float: left;
    width:10%;
}
.cd-md-9{
    clear: right;
    float: left;
    width:90%;
}
.form{
    border: 1px solid #878076;
    padding:0 5%;
    text-align: center;
}
.form input,.form textarea{
    width: 370px;
    display: block;
    margin: 20px auto;
    
}
.form input[type^=text]{
    min-height: 50px;
    border: 1px solid #878076;
}
.form textarea{
    min-height: 144px;
    border: 1px solid #878076;
}
.form input[type^=button]{
    min-height: 50px;
    background-color: black;
    color: #FFF;
}
.contact-detail{
    padding: 5% 10%;
}
#footer{
    min-height:406px ;
    background-color: #141414;
    color: #FFF;
    display:flex;
    margin: 0 auto;
}
#footer div{
    margin: 0 auto;
    padding:5% 5%;
}
h1{
    padding: 0;
    margin:0;
}
button,input[type^=button]{
    /* margin: 0; */
    padding: 0;
    border: 1px solid transparent;
    outline: none; 
}
 