* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}


#restaurant-wrap {
    width: 1000px;
    height: 600px;
    border: 1px solid #333;
    margin: auto;
    position: relative;
}
#restaurant {
    width: 798px;
    height: 550px;
    border: 1px solid red;
    margin: 25px;
    position: relative;
}
#btn {
    position: absolute;
    top:50px;
    right: 70px;
}
#cook-house {
    width: 249px;
    height: 550px;
    border-right: 1px solid red;
    float: left;
    position: relative;
}
#cooker-state {
    position: absolute;
    top: 350px;
    left: 50px;
}
.cooker {
    width: 180px;
    height: 150px;
    position: absolute;
    top: 200px;
    left: 35px;
}
#hall {
    width: 548px;
    height: 548px;
    float: left;
    position: relative;
}
.seat {
    position: absolute;
    top: 300px;
    left: 180px;
}
#cashier-desk {
    right: 20px;
    top: 20px;
    position: absolute;
}
.waiter {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 350px;
    top: 30px;
}
#customer-state {
    position: absolute;
    top: 300px;
    left: 380px;
}


.customer-list {
    width: 80px;
    position: absolute;
    top: 100px;
    right: 60px;
}
.customer {
    width: 80px;
    height: 80px;
}

#cash {
    width: 100px;
    height: 30px;
    background: yellowgreen;
    color: #FFFFFF;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 30px;
    left: 450px;
}