body,html{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
}
ul{
    list-style: none;
    padding: 0;
}
.container{
    padding: 0 10%;
    /* margin: 0 auto; */
}
#apps{
    width: 100px;
    background-color: #1D2531;
    text-align: center;
    font-size: 0;
}
#apps img{
    margin: 10px;
}
#apps .bottom{
    position: absolute;
    bottom: 0; 
}
#nav{
    width: 250px;
    background-color: #222C3C;
    color: #B7C0CD;
    font-size: 14px;
}
#nav hr{
    border: 1px solid #2A3547;
}
#nav ul li{
    padding:10px 0;
}
#nav .title{
    color:#525E70;
}
.setting{
    float: right;
}
.info-tip{
    color: #FFF;
    float: right;
    background-color: #1A92EC;
    border-radius: 10px;
    padding: 4px 8px;
}
#message{

}