*{
    box-sizing: border-box;
}
body,html{
    height: 100%;
    /* overflow: hidden; */
    margin: 0;
}
/* body{
    display: flex;
} */
ul{
    list-style: none;
    padding: 0;
}
.container{
    padding: 0 10%;
    /* margin: 0 auto; */
}
#apps,#nav{
    float: left;
}
#apps{
    width: 100px;
    height: 100%;
    background-color: #1D2531;
    text-align: center;
    font-size: 0;
}
#apps img{
    margin: 10px;
}
.bottom{
    /* position: relative; */
    position: absolute;
    margin-top: 10px;
    bottom: 0; 
}
#nav{
    width: 250px;
    height: 100%;
    background-color: #222C3C;
    color: #B7C0CD;
    font-size: 14px;
}
#nav hr{
    border: 1px solid #2A3547;
}
#nav ul li{
    padding:5px 0;
}
#nav .title{
    color:#525E70;
}
.right{
    float: right;
}
.info-tip{
    color: #FFF;
    float: right;
    background-color: #1A92EC;
    border-radius: 10px;
    padding: 0 8px;
}
.danger-tip{
    color: #FFF;
    float: right;
    background-color: red;
    border-radius: 10px;
    padding: 0 8px;
}
#message{
    width:calc(100% - 350px);
    float: right;        
}
#message .header{
    height: 80px;
    padding: 20px;
    color: #354052; 
    border-bottom: 1px solid #E8EAEA;
}
#message .header span{
    font-size: 24px;
}
.top-right{
    position: absolute;
    right: 0;
    top:0; 
}
.user-head {
    height: 80px;
    display: flex;  
}
.user-head div:nth-of-type(1){
    padding:20px;
}
.user-head div:nth-of-type(3){
    padding:30px;
}
.user-name{
    padding: 20px 0;
}
.user-name p{
    margin: 0;
}
.user-name p:nth-of-type(1){
    color:#259AF1;
}
.user-name p:nth-of-type(2){
    font-size: 14px;
    color: #B5B5B5;
}
.list{
    float: left;
    width: 400px;
    /* height: 100%; */
    border-right: 1px solid #E8EAEA;
}
.list .search{
    height: 70px;
    /* padding: 20px; */
    text-align: center;
    padding:15px 0;
    border-bottom: 1px solid #E8EAEA;
}
.list .search input{
    border:1px solid #E8EAEA;
    border-radius: 5px;
    height: 35px;
    width: 90%;
    background-color: transparent;
    /* background: transparent url(img/) no-repeat 0 right; */
}
.detail{
    width:calc(100% - 400px);
    float: right;
}
.msg-title{
    margin: 0 20px 10px;
    color: #585D68;
    font-size: 14px;
    width: 80%;
    float: left;
}
.msg-bar{
    border-bottom: 1px solid #E8EAEA;
    height: 130px;
}
