body,html{
    height: 100%;
    /* overflow: hidden; */
    margin: 0;
}
/* body{
    display: flex;
} */
ul{
    list-style: none;
    padding: 0;
}
.container{
    padding: 0 10%;
    /* margin: 0 auto; */
}
#apps,#nav,#messsage{
    float: left;
}
#apps{
    width: 100px;
    height: 100%;
    background-color: #1D2531;
    text-align: center;
    font-size: 0;
}
#apps img{
    margin: 10px;
}
.bottom{
    /* position: relative; */
    position: absolute;
    margin-top: 10px;
    bottom: 0; 
}
#nav{
    width: 250px;
    height: 100%;
    background-color: #222C3C;
    color: #B7C0CD;
    font-size: 14px;
}
#nav hr{
    border: 1px solid #2A3547;
}
#nav ul li{
    padding:5px 0;
}
#nav .title{
    color:#525E70;
}
.right{
    float: right;
}
.info-tip{
    color: #FFF;
    float: right;
    background-color: #1A92EC;
    border-radius: 10px;
    padding: 0 8px;
}
.danger-tip{
    color: #FFF;
    float: right;
    background-color: red;
    border-radius: 10px;
    padding: 0 8px;
}
#message{

}
#message .header{
    height: 80px;
    border-bottom: 1px solid #E8EAEA;
}
#message .header span{
    font-size: 24px;
}
#message .user-head {
    height: 80px;
    display: flex;
    position: absolute;
    right: 0;
    top:0; 
}
#message .user-head div:nth-of-type(1){
    padding:20px;
}
#message .user-head div:nth-of-type(3){
    padding:30px;
}